html, body{
box-sizing: border-box;
margin: 0px;
min-height: auto;
min-width: 900px;
}


.container-1{
    background-color: #1f2937;
    color: white;
    display: flex;
    height: 225px;

}

.container-2{
    display: flex;
    background-color: white;
    color: #1f2937;
    height: 225px;
}

.container-3{
    display: flex;
    background-color: #E5E7EB;
    height: 225px;
}

.container-4{
    display: flex;
    height: 200px;
}

.container-5{
    display: flex;
    background-color: #1f2937;
    color: white;
    height: 35px;
    align-items: center;
}